<body>
    <header>
        <main>
            <h1>Alta de Cadetes</h1>
            <form action="" method="POST">
                <label for="idCadete">Id: </label>
                <input type="number" id="idCadete" name="idCadete">
                <label for="nombCadete">Nombre: </label>
                <input type="text" id="nombCadete" name="nombCadete">
                <label for="apeCadete">Apellido: </label>
                <input type="text" id="apeCadete" name="apeCadete">
                <label for="telCadete">Telefono: </label>
                <input type="number" id="telCadete" name="telCadete">
                <input type="submit" value="Cargar Cadete">
            </form>
        </main>
    </header>
</body>